.git
.github
.next
node_modules
cms/node_modules
cms/.env
cms/.env.*
!cms/.env.example
cms/.tmp
cms/.cache
cms/.strapi
cms/build
cms/dist
cms/public/uploads/*
!cms/public/uploads/.gitkeep
.env
.env.*
!.env.example
npm-debug.log*
